.app {
  display: flex;
}

.content {
  flex-grow: 1;
  margin-left: 250px; /* Match sidebar open width */
  transition: margin 0.3s ease;
  padding: 20px;
}

.sidebar.closed ~ .content {
  margin-left: 80px; /* Match sidebar closed width */
}